*{
	margin: 0 auto;
}
#general{
	width: 100%;
	height: 1000px;

}

#lateral {
	text-align: left;
	background-color: red;
	width: 15%;
	height: 1000px;
	display: inline-block;
}

#lateral2 {
	
	background-color: red;
	width: 15%;
	height: 1000px;
	text-align: right;
	display: inline-block;
	margin-left:-5px;
	
}

#container {
	width: 70%;
	text-align: center;
	display: inline-block;
	margin-left: -5px;
		
	
	
}

#header {
	
	background-color: green;
	height: 200px;
	
}

#central {
	
	background-color: orange;
	height: 600px;
	

}

#footer {
	
	background-color: green;
	height: 200px;
	
}
