* {
	margin: 0 auto;
 }
#una {
	background-color: grey;
	height: 800px;
	width: 12%;
	float: left;
}
#dos {
	background-color: yellow;
	height: 800px;
	width: 12%;
	float: left;
}
#tres {
	background-color: cyan;
	height: 800px;
	width: 12%;
	float: left;
}
#cuatro {
	background-color: green;
	height: 800px;
	width: 12%;
	float: left;
}
#cinco {
	background-color: magenta;
	height: 800px;
	width: 12%;
	float: left;
}
#seis {
	background-color: red;
	height: 800px;
	width: 12%;
	float: left;
}
#siete {
	background-color: blue;
	height: 800px;
	width: 12%;
	float: left;
}
#ocho {
	background-color: black;
	height: 800px;
	width: 12%;
	float: left;
}
